




@charset "UTF-8";
/* @import url("../css/reset.css");  */
/* @import url("bootstrap/bootstrap.css"); */
/* bootstrap/bootstrap.min.css */

@import url("../css/goods.css"); 
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body { 

  color:#888C03;
  color:#565902;
  color:#D9C8A9;
  color:#D97904;
  color:#BF4904 ;
  }


h2 {
  width: 100%;
  height: 140px;
  text-align: center;
  font: bold 72px Lobster, Arial, sans-serif;
  color: #f7f2f2;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  letter-spacing: 20px;
  word-spacing: 15px;
}

h3 {
  width: 100%;
  height: 70px;
  text-align: center;
  font: bold 40px Lobster, Arial, sans-serif;
  color: #d8d5d5;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  letter-spacing: 20px;
  word-spacing: 15px;
}

h4 {
  width: 100%;
  height: 25px;
  text-align: left;
  font: bold 20px Arial, sans-serif;
  color: #24055e;
  letter-spacing: 10px;
  word-spacing: 5px;
}








body{
  background: url("../img/backgrounds/wooden_planks.jpg") no-repeat center top; 
  /* background: url("../img/coffeecup3.jpg") no-repeat center top;  */
  position: relative;
  background-size: cover;
  
}
/* 
div{
  border: 1px dashed white;
} */


img{
  max-width: 100%;
} 

section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(36, 6, 94, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  /* background: url("../img/sectionback.png") no-repeat center top; */
  /* max-width: 100%; */
  margin: auto;
  position: relative;
}


  .mainsection {
    height: 98vh;
    background: url("../img/coffee/bgpromo3.jpg") no-repeat center top; 
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
  }
  
  
  .promo {
    position: relative;
    /* background: url("../img/coffeecup3.jpg") no-repeat center top;   */
/*     background: url("../img/coffee/bgpromo3.jpg") no-repeat center top; 

    background-size: contain ; */
  }

  .header{

    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(6, 94, 13, 0.5);
    background-color: rgba(193, 199, 193, 0.5);
     /* background: url("../img/sectionback.png") no-repeat center top; */
    /* max-width: 800px; */
    /* margin: auto; */
    position: sticky;
    
    top: 10px; 
  
    z-index: 500; 
    visibility: hidden;
    display: none;
  }

  .footer{
    /* -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(6, 94, 13, 0.5);
    background-color: rgba(193, 199, 193, 0.5);
    position: bottom;
 */
   position:absolute;
   bottom:0;
   width:100%;
   height:70px;   /* Высота блока "footer" */

  }






  .logo {
    height: 30px;
    /* width: 50px; */
    float: left;
  }
  
  .logo .logo_img {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
  }
